<h2>MOVIE DETAILS</h2>
<a href="/movies/create">Create a Movie</a>
<br>
<a href="/movies">Movies list</a>
<br>
<a href="/">Home</a>
<br>
{{#each movie}}
{{this.title}}
{{this.genre}}
{{this.plot}}
{{#each this.cast}}
{{name}}
{{occupation}}
{{catchPhrase}}
{{/each}}
{{/each}}